.project-item {
  margin: 4rem 0;
  filter: grayscale(1);
}

.project-title {
  margin-top: 0.8rem;
}

.project-img img {
  border-radius: 8px;
  min-height: 300px;
  width: 100%;
  object-fit: cover;
}

.project-img img:hover {
  cursor: pointer;
}

.project-item:hover {
  filter: grayscale(0);
  transition: filter 0.6s;
}

.project-description {
  margin-top: 0.25rem;
}

/* Media Queries */

@media (min-width: 800px) {
  .project-item {
    display: flex;
    justify-content: space-between;
  }

  .project-item:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .project-item:nth-child(odd) .project-content {
    margin-right: 2.5rem;
  }

  .project-item:nth-child(even) .project-content {
    margin-left: 2.5rem;
  }

  .project-img {
    align-self: flex-start;
    width: 50%;
  }

  .project-img img {
    align-self: flex-start;
    width: 100%;
  }

  .project-content {
    width: 50%;
  }

  .project-title {
    margin: 0;
  }
}
