.project-item {
  margin: 4rem 0;
}

.project-title {
  margin: 1rem 0;
}

.project-description {
  margin: 1rem 0;
}

/* Media Queries */

@media (min-width: 800px) {
  .project-item {
    display: flex;
    justify-content: space-between;
  }

  .project-item:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .project-item:nth-child(odd) .project-content {
    margin-right: 2.5rem;
  }

  .project-item:nth-child(even) .project-content {
    margin-left: 2.5rem;
  }

  .project-img {
    align-self: flex-start;
    width: 50%;
  }

  .project-img img {
    align-self: flex-start;
    width: 100%;
  }

  .project-content {
    width: 50%;
  }

  .project-title {
    margin: 0;
  }
}
