.projects {
  margin-top: 3rem;
}

.project__item {
  margin: 4rem 0;
}
.project-tech {
  display: flex;
}

.project-title {
  margin: 1rem 0;
}

.project-description {
  margin: 1rem 0;
}

.tech-item + .tech-item {
  margin-left: 1rem;
}

.project-links {
  display: flex;
}

.project-links-item {
  padding: 1rem 0;
}

.project-links-item + .project-links-item {
  margin-left: 1rem;
}

/* Media Queries */

@media (min-width: 800px) {
  .project__item {
    display: flex;
    justify-content: space-between;
  }

  .project__item:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .project__item:nth-child(odd) .project__content {
    margin-right: 2.5rem;
  }

  .project__item:nth-child(even) .project__content {
    margin-left: 2.5rem;
  }

  .project__img {
    align-self: flex-start;
    width: 50%;
  }

  .project__img img {
    align-self: flex-start;
    width: 100%;
  }

  .project__content {
    width: 50%;
  }

  .project-title {
    margin: 0;
  }
}
