.project-links {
  display: flex;
}

.project-links-item {
  padding: 1rem 0;
  color: white;
  text-decoration: none;
  position: relative;
  top: 0px;
}

.project-links-item:hover {
  color: var(--accent-primary);
  top: -3px;
  transition: top ease 0.25s;
}

.project-links-item + .project-links-item {
  margin-left: 1rem;
}
