.about {
  min-height: 75vh;
}

.about__title {
  margin-bottom: 1rem;
}

.content-img {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.content-img img {
  border-radius: 8px;
  filter: grayscale(1);
}

.content-img img:hover {
  filter: grayscale(0);
  transition: filter 0.6s;
}

@media (min-width: 800px) {
  .about__content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .content-body {
    max-width: 60%;
  }

  .content-img {
    min-width: 40%;
    align-self: flex-start;
    padding: 0;
  }
}
