.about {
  min-height: 75vh;
}

.about__title {
  margin-bottom: 1rem;
}

.content-img {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

@media (min-width: 800px) {
  .about__content {
    display: flex;
    margin-top: 2rem;
  }

  .content-img {
    min-width: 40%;
    align-self: center;
  }
}
