@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200;300;400;500&display=swap");

:root {
  --text-primary: white;
  --text-secondary: rgb(206, 206, 206);
  --accent-primary: #2fdd92;
  --accent-primary-light: #31b37a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Change text selection colors */
::-moz-selection {
  /* Code for Firefox */
  color: var(--text-primary);
  background: var(--accent-primary-light);
}

::selection {
  color: var(--text-primary);
  background: var(--accent-primary-light);
}

body {
  margin: 0;
  font-family: "Noto Sans Mono", serif !important;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: var(--text-secondary, white);
}

h1,
h2,
h3 {
  font-weight: 400;
  color: var(--text-primary, white);
}

img {
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  padding: 1rem 2rem;
  width: 100%;
  border: 0;
  font-family: "Noto Sans Mono", serif;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Modifiers */

.semi--bold {
  font-weight: 600;
}

.color-transition {
  transition: color 0.5s;
}
