@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
:root {
  --text-primary: white;
  --text-secondary: rgb(206, 206, 206);
  --text-tertiary: rgba(206, 206, 206, 0.719);

  --accent-primary: #2fdd92;
  --accent-primary-light: #31b37a;
  --accent-secondary: rgba(48, 250, 223, 0.233);
  --accent-secondary-light: rgba(147, 245, 232, 0.568);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Change text selection colors */
::-moz-selection {
  /* Code for Firefox */
  color: var(--text-primary);
  background: var(--accent-primary-light);
}

::selection {
  color: var(--text-primary);
  background: var(--accent-primary-light);
}

body {
  margin: 0;
  font-family: "Poppins", serif !important;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: var(--text-secondary, white);
}

h1,
h2,
h3 {
  font-weight: 400;
  color: var(--text-primary, white);
}

img {
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  padding: 1rem 2rem;
  width: 100%;
  background-color: transparent;
  color: var(--accent-primary);
  border-radius: 8px;
  border: 1px solid var(--accent-primary);
  font-family: "Poppins", serif;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  z-index: 1;
  transition: all 0.5s;
  overflow: hidden;
}

.btn:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: var(--text-primary);
  border: 0;
  border-radius: 8px;
  z-index: -2;
}
.btn:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--accent-secondary);
  color: var(--text-primary);

  border: 0;
  transition: all 0.3s;
  border-radius: 8px;
  z-index: -1;
}

.btn:hover {
  color: var(--text-primary);
  cursor: pointer;
}

.btn:hover::before {
  width: 100%;
}

/* .btn:hover {
  background-color: var(--accent-primary);
  border: 1px solid var(--accent-primary);
  transition: background-color 0.5s, border 0.5s;
  cursor: pointer;
} */

/* Modifiers */

.semi--bold {
  font-weight: 600;
}

.color-transition {
  transition: color 0.5s;
}
