.nav__menu-ico {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__menu-ico:hover {
  cursor: pointer;
}

/* Media Queries */

@media (min-width: 800px) {
  .nav__menu-ico {
    display: none;
  }
}
