li {
  list-style: none;
  text-align: center;
}

li + li {
  margin-top: 1rem;
}

.nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 1rem 0;
}

.nav__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__col {
  background-color: black;
  display: flex;
  justify-content: center;
  position: absolute;
  padding: 2.5rem 0;
  top: 2.6rem;
  width: 100%;
  z-index: 100;
}

.nav-links {
  text-decoration: none;
  color: white;
}

.nav-links:hover {
  color: var(--accent-primary);
}

/* Utility Classes */

.hide {
  display: none;
}

/* Media Queries */

@media (min-width: 800px) {
  .nav {
    display: flex;
    justify-content: space-between;
  }

  .nav__col {
    display: block;
    position: static;
    width: auto;
    padding: 0;
  }

  ul {
    display: flex;
  }

  li + li {
    margin-top: 0;
    margin-left: 1.5rem;
  }
}
